main{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}
@media screen and (max-width: 360px) {
    main {
        flex-direction: column;
    }
    aside {
        width: 100%;
    }
    article {
        width: 100%;
    }
}
